<div class="row">
    <!-- newcomers -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="Alerts" data-data-source="scm"
               data-alert="newcomers"></div>
        </div>
      </div>
    </div>
    <!-- end newcomers -->
</div>
