<!-- info text -->
<div class="well">
  <div class="row">
    <div class="col-md-6">      
      <p>Some charts and tables for top companies in the
	project, and a summary of the evolution of their participation with
	links to more detailed information per company.</p>
    </div>
    <div class="col-md-6">
      <!-- evolution #companies -->
      <div class="MetricsEvol" data-data-source="scm"
           data-metrics="scm_companies" data-legend="false" 
           data-title="Active companies per month" data-help="false"
           data-light-style="true" style="height: 80px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 FilterItemsNav">
      <div class="FilterItemsNav center-block" data-data-source="scm"
	   data-order-by="scm_commits" data-filter="companies"></div>
    </div>
  </div>
  
  <!-- bar charts: commits, authors company -->
  <div class="row">
    <!-- commits -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="FilterItemsGlobal" data-data-source="scm"
           data-metric="scm_commits" data-filter="companies"
           data-legend-div="companies_legend" data-limit="10"
           data-order-by="scm_commits"
           data-title="Commits per company (aggregated)"></div>
    </div>
    <!-- end commits -->
    <div class="col-md-2" id="companies_legend"
         style="text-align:left;font-size: 1.2em;padding-top:10px;padding-left:20px;"></div>
    <!-- authors -->
    <div class="col-md-4">
      <div class="FilterItemsGlobal" data-data-source="scm"
           data-metric="scm_authors" data-filter="companies"
           data-legend="false" data-limit="10" data-order-by="scm_commits"
           data-title="Authors per company (aggregated)"></div>
    </div>
    <!-- end authors -->
    <div class="col-md-1"></div>
  </div>
  <!-- end of bar charts: commits, authors company -->

  <!-- commits per company -->
  <div id="list" class="row">
    <div class="FilterItemsMiniCharts" data-data-source="scm"
         data-metrics="scm_commits,scm_authors" data-filter="companies"
         data-order-by="scm_commits"></div>
  </div>
  <div class="row"><div class="col-md-12">
      <div class="FilterItemsNav" data-data-source="scm"
	   data-order-by="scm_commits" data-filter="companies"></div>
    </div>
  </div>
  
</div>
<!-- end commits per company -->


