
<!-- info text -->
<div id="info" class="row">
  <h4>Information about all companies</h4>
  Some charts and tables for top countries in the project, and a summary of
  the evolution of their participation with links to more detailed
  information per country.
</div>
<!-- end info text -->

<!-- evolution #countries -->
<div id="summary-evol" class="row">
  <!-- graph -->
  <div class="col-md-6">
    <div class="MetricsEvol" data-data-source="scm"
         data-metrics="scm_countries" data-legend="false" data-help="false"></div>
    <i><b>Active Countries per month</b></i> <a
                                                href="notes.html#note:charts:countries"><img src="qm_15.png"></a>
  </div>
  <!-- end graph -->

  <div class="col-md-6">
    <div class="FilterItemsSummary" data-filter="countries"
         data-data-source="scm"></div>
  </div>
</div>
<!-- end evolution #countries -->

<!-- commits, authors per country -->
<div id="summary-static" class="row">

  <!-- commmits -->
  <div class="col-md-5">
    <div class="FilterItemsGlobal" data-data-source="scm"
         data-metric="scm_commits" data-filter="countries"
         data-legend-div="countries_legend" data-limit="10"
         data-order-by="scm_commits"></div>
    <i> <b>Commits per country (aggregated)</b> <a
                                                   href="notes.html#note:charts:countries:commits"><img
                                                                                                      src="qm_15.png"></a>
    </i>
  </div>
  <!-- end commits -->

  <div class="col-md-2" id="countries_legend"></div>

  <!-- authors -->
  <div class="col-md-5">
    <div class="FilterItemsGlobal" data-data-source="scm"
         data-metric="scm_authors" data-filter="countries" data-legend="false"
         data-limit="10" data-order-by="scm_commits"></div>
    <i> <b>Authors per country (aggregated))</b> <a
                                                    href="notes.html#note:charts:countries:authors"><img
                                                                                                       src="qm_15.png"></a>
    </i>
  </div>
  <!-- end authors -->

</div>
<!-- end commits, authors per country -->

<!-- list of countries -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="scm"
       data-order-by="scm_commits" data-filter="companies"
       style="align: center"></div>
</div>
<!-- end list of countries -->

<!-- countries charts -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-metrics="scm_commits,scm_authors"
       data-filter="countries" data-order-by="scm_commits"
       data-data-source="scm"></div>
</div>
<!-- end countries charts -->

<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <div id="Refcard"></div>
  </div>
</div>


