
<!-- info text -->
<div id="info" class="row">
  <div class="col-md-6">
    <span class="SectionBreadcrumb"></span>
    <p>Some charts and tables for top domains in the project, and a summary
      of the evolution of their participation with links to more detailed
      information per domain.</p>  
  </div>
  <div class="col-md-6">
    <!-- evolution #domains -->
    <i>
      <b>Active Domains per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="scm"
         data-metrics="scm_domains" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->



<!-- list of domains -->
<div id="nav" class="row-fluid">
  <div class="FilterItemsNav" data-data-source="scm"
       data-order-by="scm_domains" data-filter="domains" style="align: center"></div>
</div>
<!-- end list of domains -->


<!-- commits, authors domains -->
<div class="well">
  <div id="summary-static" class="row-fluid">
    <!-- commits -->
    <div class="span1"></div>
    <div class="span4">
      <i>
        <b>Commits per domain (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scm"
           data-metric="scm_commits" data-filter="domains"
           data-legend-div="domains_legend" data-limit="10"
           data-order-by="scm_commits"></div>
    </div>
    <!-- end commits -->

    <div class="span2" id="domains_legend"></div>

    <!-- authors -->
    <div class="span4">
      <i>
        <b>Authors per company (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scm"
           data-metric="scm_authors" data-filter="domains"
           data-legend="false" data-limit="10"
           data-order-by="scm_commits"></div>
    </div>
    <!-- end authors -->
    <div class="span1"></div>
  </div>
</div>
<!-- end commits, authors domains -->

<div id="summary-static" class="row-fluid"></div>

<!-- commits per domain -->
<div id="list" class="row-fluid">
  <div class="FilterItemsMiniCharts" data-data-source="scm"
       data-metrics="scm_commits,scm_authors" data-filter="domains"
       data-order-by="scm_commits">
  </div>
</div>
<!-- end commits per domain -->

