/* Dimensions */
/* .milestone0-open, .milestone0-issues-closed {
  width: 600px;
} */

.envision-component {
    width: 440px;
}

.milestone0-mls-sent .envision-component
{
  height : 100px;
}
.milestone0-mls-senders .envision-component
{
  height : 50px;
}
}

.milestone0-mls-connection .envision-component {
  height: 20px;
}
.milestone0-mls-summary .envision-component {
  cursor: all-scroll;
  height : 70px;
  margin-top: -2px;
}

/* Bubble Borders */
.milestone0-mls-sent  
{
  border: 1px solid #FFA500;
  background: #fff;
}
.milestone0-mls-sent
{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* Connection overlay */
.milestone0-mls-connection canvas {
  z-index: 10;
  background: #fff;
}
.milestone0-mls-connection canvas object {
  position: absolute;
  top: 0px;
}

/* Y-Axis Labels */
.milestone0-mls-sent .flotr-grid-label {
  margin-left: 4px;
}
.milestone0-mls-sent .flotr-grid-label.first {
  margin-top: -6px;
}
.milestone0-mls-sent .flotr-grid-label.last {
  margin-top: 6px;
}

/* X-Axis Labels */
.milestone0-mls-summary .flotr-grid-label {
  margin-top: 3px;
}

/* Mouse Tracker */
.milestone0-mls-sent .flotr-mouse-value {
    font-size: 12px;
}

.milestone0-mls-senders .flotr-mouse-value
{
  display: none;
}

@media screen and (max-width: 600px) {
  .milestone0-mls-sent {
    width: 100%;
  }  
 
  .milestone0-mls-sent .envision-component 
   {
    height: 120px;
  }
  .milestone0-mls-summary .envision-component,
  .milestone0-mls-close .envision-component {
    height: 40px;
  }
}