.FilterItemSummary,
.PersonSummary
 {
    font-size:0.875em;
}

/* Sometimes the dates in x need more space*/
.FilterItemMetricsEvol
{
	margin-bottom:15px;
}

.Demographics
{
	width: 100%;
	height: 300px;
}

/* custom hacks from hack.css file */
.GlobalData, .medium-fp-number {
    font-weight: bold;
}
.summary_box .span4, .summary_box .span6 {
    font-size: .85em;
    text-align: center;
}

.fppercent {
    font-size: .8em;
    display: block;
}

.positive {
    color: green;
}
.negative {
    color: red;
}