.envision-component-container {
    width: 600px;
    height : 80px;  
}

.envision-component-container.envision-first {
    width: 600px;
    height : 80px;         
}

.basic-metric-html {
	width: 150px;
}

.m0-box-div {
    height: 130px;
    float: left;
    margin-bottom: 20px;   
}

.scm-flotr2-metrics {
	height: 130px;
}

.scm-flotr2-countries-static {
    height: 200px;
}

/* Bootstrap */ 

.hero-unit {
	padding: 30px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}