/* SCM column */
#info-column2{
    /* width: 600px; */
}
/* ITS column */
#info-column3{
}
/* MLS column */
#info-column4{
}

/* Envision components */
.envision-component {
    /* width: 600px; */
}

#envision-scm {
    height: 600px;
}

#scm-envision-time .envision-component {
    width: 800px;
} 

#its-envision-time .envision-component {
    width: 800px;
}

#mls-aggregated-time {
	width:500px;
}

#mls-aggregated-time .envision-component {
    width: 500px;
}

.milestone0-mls-summary .envision-component {
  cursor: all-scroll;
  height : 30px;
  margin-top: -2px;
  /* align envision and flotr2 graphs*/
  margin-bottom: 84px;
}

.graph .flotr-grid-label {
    font-size: 0.6em
}

.graph {
	height:200px;
	width:200px;
}

.bubbles {
	height:400px;
	width:900px;
}
