/*
	OTHER STYLES TO BE ORGANIZED
*/
.graph .flotr-grid-label {
    font-size: 0.6em
}

.graph {
	height:200px;
	width:200px;
}

.bubbles {
	height:400px;
	width:900px;
}

.radar {
	height:400px;
	width:500px;
}

