body {
    margin: 0px;
    padding: 0px;
    font: 100% Verdana;
}

.column-right {
    width: 450px;
    margin: 8px auto;
    float: right;
}

.left {
    float: left;
}

.column {
    margin-left: 8px;
    margin-right: 8px;
}

.box {
    margin: 8px auto;
    text-align: center;
}

.title {
    text-align: center;
}

.m0-box-div {
	height: 130px;
}

.m0-box {
	width:  180px;
	height: 100px;
	float:  right;
	right:  10px;	
}

.mls-dyn-list {
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	width: 380px;
}
