<div id="info" class="row">
  <div class="col-md-5">
    Some charts and tables for top companies in the project, and a summary
    of the evolution of their participation with links to more detailed
    information per company.
  </div>
  <div class="col-md-7">
    <!-- evolution #companies -->
    <i>
      <b>Active Companies per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="its"
         data-metrics="its_companies" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->           


<!-- list of companies -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="its"
       data-order-by="its_commits" data-filter="companies" style="align: center"></div>                  
</div>
<!-- end list of companies -->


<!-- commits, closers company -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- closed -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i>
        <b>Closed per company (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="its"
           data-metric="its_closed" data-filter="companies"
           data-legend-div="companies_legend" data-limit="10"
           data-order-by="its_closed">
      </div>
    </div>
    <!-- end closed -->

    <div class="col-md-2" id="companies_legend"></div>

    <!-- closers -->
    <div class="col-md-4">
      <i>
        <b>Closers per company (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="its"
           data-metric="its_closers" data-filter="companies"
           data-legend="false" data-limit="10"
           data-order-by="its_closed"></div>
    </div>
    <!-- end closers -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end closed, closers company -->

<div id="summary-static" class="row"></div>

<!-- closed per company -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="its"
       data-metrics="its_closed,its_closers" data-filter="companies"
       data-order-by="its_closed">
  </div>
</div>
<!-- end closed per company -->

