<div class="row"><h4>Information about all repositories</h4></div>
<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">
    Some charts and tables for top repositories in the project, and a summary
    of the evolution of their participation with links to more detailed
    information per repository.
  </div>
  <div class="col-md-7">
    <!-- evolution #repositories -->
    <i>
      <b>Active Repositories per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="its"
         data-metrics="its_repositories" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->           


<!-- list of repositories -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="its"
       data-order-by="its_commits" data-filter="repos" style="align: center"></div>                  
</div>
<!-- end list of repositories -->


<!-- commits, closers repository -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- closed -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i>
        <b>Closed per repository (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="its"
           data-metric="its_closed" data-filter="repos"
           data-legend-div="repos_legend" data-limit="10"
           data-order-by="its_closed">
      </div>
    </div>
    <!-- end closed -->

    <div class="col-md-2" id="repos_legend"></div>

    <!-- closers -->
    <div class="col-md-4">
      <i>
        <b>Closers per repository (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="its"
           data-metric="its_closers" data-filter="repos"
           data-legend="false" data-limit="10"
           data-order-by="its_closed"></div>
    </div>
    <!-- end closers -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end closed, closers repository -->

<div id="summary-static" class="row"></div>

<!-- closed per repository -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="its"
       data-metrics="its_closed,its_closers" data-filter="repos"
       data-order-by="its_closed">
  </div>
</div>
<!-- end closed per repository -->

