
<div class="row"><h4>Information about all companies</h4></div>
<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">
    Some charts and tables for top companies in the project, and a summary
    of the evolution of their participation with links to more detailed
    information per company.
  </div>
  <div class="col-md-7">
    <!-- evolution #companies -->
    <i>
      <b>Active Companies per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="mls"
         data-metrics="mls_companies" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->           


<!-- list of companies -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="mls"
       data-order-by="mls_sent" data-filter="companies" style="align: center"></div>                  
</div>
<!-- end list of companies -->


<!-- sent, senders company -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- sent -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i>
        <b>Messages per company (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="mls"
           data-metric="mls_sent" data-filter="companies"
           data-legend-div="companies_legend" data-limit="10"
           data-order-by="mls_sent">
      </div>
    </div>
    <!-- end sent -->

    <div class="col-md-2" id="companies_legend"></div>

    <!-- senders -->
    <div class="col-md-4">
      <i>
        <b>Senders per company (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="mls"
           data-metric="mls_senders" data-filter="companies"
           data-legend="false" data-limit="10"
           data-order-by="mls_sent"></div>
    </div>
    <!-- end senders -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end sent, senders company -->

<div id="summary-static" class="row"></div>

<!-- sent per company -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="mls"
       data-metrics="mls_sent,mls_senders" data-filter="companies"
       data-order-by="mls_sent">
  </div>
</div>
<!-- end sent per company -->

