<div class="row"><h4>Information about all domains</h4></div>
<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">
    Some charts and tables for top domains in the project, and a summary
    of the evolution of their participation with links to more detailed
    information per domain.
  </div>
  <div class="col-md-7">
    <!-- evolution #domains -->
    <i>
      <b>Active Domains per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="mls"
         data-metrics="mls_domains" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->


<!-- list of domains -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="mls"
       data-order-by="mls_domains" data-filter="domains" style="align: center"></div>
</div>
<!-- end list of domains -->


<!-- sent msgs, senders per domain -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- sent -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i>
        <b>Sent per domain (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="mls"
           data-metric="mls_sent" data-filter="domains"
           data-legend-div="domains_legend" data-limit="10"
           data-order-by="mls_sent">
      </div>
    </div>
    <!-- end sent -->

    <div class="col-md-2" id="domains_legend"></div>

    <!-- senders -->
    <div class="col-md-4">
      <i>
        <b>Senders per domain (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="mls"
           data-metric="mls_senders" data-filter="domains"
           data-legend="false" data-limit="10"
           data-order-by="mls_senders"></div>
    </div>
    <!-- end senders -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- sent msgs, senders per domain -->

<div id="summary-static" class="row"></div>

<!-- domains list -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="mls"
       data-metrics="mls_sent,mls_senders" data-filter="domains"
       data-order-by="mls_sent">
  </div>
</div>
<!-- end domains list -->
