<!-- msgs sent, senders, stats, top closers -->
<div class="row">

  <!-- left column -->
  <div class="col-md-6">
    <!-- msgs sent -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="mls"
               data-metrics="mls_sent"
               data-min="true" style="height:120px;"></div>
          <div class="MicrodashText" data-metric="mls_sent"></div>
        </div>
      </div>
    </div>
    <!-- end msgs sent -->

    <!-- senders -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="mls"
               data-metrics="mls_senders"
               data-min="true" style="height:120px;"></div>
          <div class="MicrodashText" data-metric="mls_senders"></div>
        </div>
      </div>
    </div>
    <!-- end senders -->

    <!-- time to attention -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h4>Time to Attention of Messages</h4>
          * (in hours)
          <div class="TimeTo" data-data-source="mls" data-type="attention"
               data-quantil="X0.95,X0.5"></div>
        </div>
      </div>
    </div>
    <!-- end time to attention -->

  </div>
  <!-- end left column -->

  <!-- right column -->
  <div class="col-md-6">
    <!-- stats -->
    <div class="row">
      <table class="table table-striped">
        <tr><td><h5>Mailing lists <small> (updated on <span class="GlobalData" data-data-source="mls"
                                                            data-field="last_date"></span>)</small></h5></td></tr>
      </table>               
    </div>

    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <td>
              <span class="GlobalData" data-data-source="mls"
                    data-field="mls_repositories"></span>
            </td>
            <td>
              mailing lists
            </td>
          </tr>
	  <tr>
            <td>
              <span class="GlobalData" data-data-source="mls"
                    data-field="mls_senders"></span>                                		
            </td>
            <td>total partipants</td>
          </tr>                              
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <td>
              <span class="GlobalData" data-data-source="mls"
                    data-field="mls_sent_7"></span>                                		
            </td>
            <td>messages last week</td>
          </tr>
          <tr>
            <td>
              <span class="GlobalData" data-data-source="mls"
                    data-field="mls_senders_7"></span>                                		
            </td>
            <td>participants last week</td>
          </tr>                                                      
          
        </table>
      </div>                        
    </div>

    <!-- end stats -->

    <!-- top senders -->
    <div class="Top" data-data-source="mls" data-period_all="true"
         data-metric="senders" data-limit="5"
         data-people_links="true" ></div>
    <!-- end senders-->

    <div class="Top" data-data-source="mls"
         data-metric="threads"
         data-period_all="true"
         data-limit="5"
         data-people_links="true"
         data-threads_links="true"
         ></div>

  </div>
  <!-- end right column -->

</div>
<!-- end msgs sent, senders, stats, top closers -->
