<div class="row"><h4>Information about all repositories</h4></div>
<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">
    Some charts and tables for top repositories in the project, and a summary
    of the evolution of their participation with links to more detailed
    information per repository.
  </div>
  <div class="col-md-7">
    <!-- evolution #repositories -->
    <i>
      <b>Active Repositories per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="mls"
         data-metrics="mls_repositories" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->           


<!-- list of repositories -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="mls"
       data-order-by="mls_sent" data-filter="repos" style="align: center"></div>                  
</div>
<!-- end list of repositories -->


<!-- sent, senders repository -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- sent -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i>
        <b>Messages per repository (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="mls"
           data-metric="mls_sent" data-filter="repos"
           data-legend-div="repos_legend" data-limit="10"
           data-order-by="mls_sent">
      </div>
    </div>
    <!-- end sent -->

    <div class="col-md-2" id="repos_legend"></div>

    <!-- senders -->
    <div class="col-md-4">
      <i>
        <b>Senders per repository (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="mls"
           data-metric="mls_senders" data-filter="repos"
           data-legend="false" data-limit="10"
           data-order-by="mls_sent"></div>
    </div>
    <!-- end senders -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end sent, senders repository -->

<div id="summary-static" class="row"></div>

<!-- sent per repository -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="mls"
       data-metrics="mls_sent,mls_senders" data-filter="repos"
       data-order-by="mls_sent">
  </div>
</div>
<!-- end sent per repository -->
