html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

/*.navbar-toggle {
  float: left;
  margin-left: 15px;
}*/

@media (min-width: 0) {
  .navbar-toggle {
    display: block;
    float: left; 
    margin-left: 15px;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
/*  .navbar {
    right: auto;
    background: none;
    border: none;
  }*/
}

.container-fluid { 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px;
    background-color: #F5F5F5;
}

/*
does not work
#ProjectNavbar .breadcrumb li
{ 
  font-size: 1.2em;
}*/

/*.breadcrumb { 
    border-radius: 4px 4px 4px 4px !important;
    list-style: none outside none;
    padding: 0 0 0 0;
    margin-top: 15px;
    background-color: transparent;
    font-size: 1.1em;
}*/
/* this style is used to display the project nav bar*/
.breadcrumbtitle {
    background-color: transparent;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: none;
}
.breadcrumbtitle > li {
    display: inline-block;
}
.breadcrumbtitle > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumbtitle > .active {
    color: #999999;
}
.breadcrumbtitle >li > a { 
    color: #ED9C06;
    text-decoration: none;
}
.breadcrumbtitle >li > a:hover { 
    color: #FFFFFF;
    text-decoration: none;
}
.ol { 
    margin-bottom: 10px;
    margin-top: 15px;
}

.FilterItemMicrodashText { 
    text-align: center;
}

.navbar-default .navbar-brand { 
    color: #ED9C06;
}
.navbar-default .navbar-brand:hover { 
    color: #ED9C06;
}
.navbar-default { 
    background-color: #000000;
    border-color: #ED9C06;
                  }
.navbar-fixed-top { 
    border-width: 0 0 2px;
    top: 0;
                    }

.navbar-default .navbar-toggle { 
    background-color: #FFFFFF;
    border-color: #FFFFFF;
                                 }
.well{ 
background-color: #FFFFFF; }

a{ 
   color: #ED9C06;
 }