<div class="row">
  <div class="col-md-12">
    <div class="PersonData"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="scm"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="scm"
         data-metrics="scm_commits" data-legend="true"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="its"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="its"
         data-metrics="its_closed" data-legend="true"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="mls"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="mls"
         data-metrics="mls_sent" data-legend="true"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="irc"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="irc"
         data-metrics="irc_sent" data-legend="true"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="scr"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="scr"
         data-metrics="scr_closed" data-legend="true"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="mediawiki"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="mediawiki"
         data-metrics="revisions" data-legend="true"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="PersonSummary" data-data-source="releases"></div>
  </div>
  <div class="col-md-10">
    <div class="PersonMetrics" data-data-source="releases"
         data-metrics="releases_releases" data-legend="true"></div>
  </div>
</div>


