
<div class="row">
  <div class="col-md-12">
    <div class="FilterItemData"></div>
  </div>
</div>

<div class="row">

  <!-- summaries and charts -->
  <div class="col-md-12">
    <!-- scm -->
    <div class="row">
      <div class="col-md-3">
        <div class="FilterItemSummary" data-data-source="scm"
             data-filter="repos"></div>
      </div>

      <!-- commits -->
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="scm"
             data-metrics="scm_commits" data-min="true" data-filter="repos"></div>
      </div>
      <!-- end commits -->

      <!-- authors -->
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="scm"
             data-metrics="scm_authors" data-min="true" data-filter="repos"></div>
      </div>
      <!-- end authors -->

      <!-- files -->
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="scm"
             data-metrics="scm_files" data-min="true" data-filter="repos"></div>
      </div>
      <!-- end files -->

    </div>
    <!-- end scm -->

    <!-- its -->
    <div class="row">
      <div class="col-md-3">
        <div class="FilterItemSummary" data-data-source="its"
             data-filter="repos"></div>
      </div>

      <!-- closed, opened tickets -->
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="its"
             data-metrics="its_closed,its_opened" data-min="true"
             data-filter="repos"></div>
      </div>
      <!-- end closed, opened tickets -->

      <!-- closers, openers -->
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="its"
             data-metrics="its_closers,its_openers" data-min="true"
             data-filter="repos"></div>
      </div>
      <!-- end closers, openers -->

      <!-- changers -->
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="its"
             data-metrics="its_changers" data-min="true" data-filter="repos"></div>
      </div>
      <!-- end changers -->

    </div>
    <!-- end its-->

    <!-- scr -->
    <div class="row">
      <div class="col-md-3">
        <div class="FilterItemSummary" data-data-source="scr"
             data-filter="repos"></div>
      </div>

      <div class="col-md-4">
        <div class="FilterItemMetricsEvol" data-data-source="scr"
             data-metrics="scr_submitted,scr_merged,scr_abandoned"
             data-min="true" data-filter="repos" data-frame-time="true"></div>
      </div>

      <div class="col-md-4">
        <div class="FilterItemMetricsEvol" data-data-source="scr"
             data-metrics="scr_new" data-frame-time="true"
             data-start="1362096000" data-min="true" data-filter="repos"></div>
      </div>
    </div>
    <!-- end scr-->

    <!-- irc -->
    <div class="row">
      <div class="col-md-3">
        <div class="FilterItemSummary" data-data-source="irc"
             data-filter="repos"></div>
      </div>

      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="irc"
             data-metrics="irc_sent" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="irc"
             data-metrics="irc_senders" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
    </div>
    <!-- end irc-->

    <!-- mls -->
    <div class="row">
      <div class="col-md-3">
        <div class="FilterItemSummary" data-data-source="mls"
             data-filter="repos"></div>
      </div>

      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="mls"
             data-metrics="mls_sent" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="mls"
             data-metrics="mls_senders" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
    </div>
    <!-- end mls-->

    <!-- qaforums -->
    <div class="row">
      <div class="col-md-3">
        <div class="FilterItemSummary" data-data-source="qaforums"
             data-filter="repos"></div>
      </div>

      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="qaforums"
             data-metrics="qaforums_qsent" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="qaforums"
             data-metrics="qsenders" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
      <div class="col-md-3">
        <div class="FilterItemMetricsEvol" data-data-source="qaforums"
             data-metrics="asenders" data-min="true" data-filter="repos"
             data-frame-time="true"></div>
      </div>
    </div>
    <!-- end mls-->


  </div>
  <!-- end charts -->

</div>
