.selectable .ui-selecting { background: #FFA500; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 5px; width: 95%; }
.selectable li { margin: 3px; padding: 0.1em; height: 10px; }

.sortable .ui-selecting { background: #FFA500; }
.sortable .ui-selected { background: #F39814; color: white; }
.sortable { list-style-type: none; margin: 0; padding: 5px; width: 95%; }
.sortable li { margin: 3px; padding: 5px; height: 10px; position:relative;}
.sortable li .handle { background: #ffa500; position: absolute; left: 0; top: 0; bottom: 0; padding:3px; }

/* NESTED SORTABLE */

.placeholder {
    outline: 1px dashed #4183C4;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: -1px;*/
}

.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}

ol {
    margin: 0;
    padding: 0;    
    /* padding-left: 30px; */
}

ol.nested_sortable, ol.nested_sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ol.nested_sortable {
    margin: 0em 0;
}

.nested_sortable .handle {display:none;}

.nested_sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

.nested_sortable li div  {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    padding: 6px;
    margin: 0;
    cursor: move;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.nested_sortable li.mjs-nestedSortable-branch div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.nested_sortable li.mjs-nestedSortable-leaf div {
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

.nested_sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.nested_sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.nested_sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.nested_sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}
