extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li scm/authors
    li scm/authors_evol     
    li scm/commits
    li scm/commits_evol
    li scm/companies
    li scm/companies_evol
    li scm/repositories
    li scm/repositories_evol        