<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">Some charts and tables for top countries in the
    project, and a summary of the evolution of their participation with
    links to more detailed information per country.</div>
  <div class="col-md-7">
    <!-- evolution #countries -->
    <i> <b>Active Countries per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="scr"
         data-metrics="scr_countries" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->


<!-- list of countries -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="scr"
       data-order-by="scr_submitted" data-filter="countries"
       style="align: center"></div>
</div>
<!-- end list of countries -->


<!-- submitted, merged country -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- submitted -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i> <b>Submitted per country (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scr"
           data-metric="scr_submitted" data-filter="countries"
           data-legend-div="countries_legend" data-limit="10"
           data-order-by="scr_submitted"></div>
    </div>
    <!-- end submitted -->

    <div class="col-md-2" id="countries_legend"></div>

    <!-- merged -->
    <div class="col-md-4">
      <i> <b>Merged per country (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scr"
           data-metric="scr_merged" data-filter="countries" data-legend="false"
           data-limit="10" data-order-by="scr_submitted"></div>
    </div>
    <!-- end merged -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end submitted, merged country -->

<div id="summary-static" class="row"></div>

<!-- submitted per country -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="scr"
       data-metrics="scr_submitted,scr_merged" data-filter="countries"
       data-order-by="scr_submitted"></div>
</div>
<!-- end submitted per country -->

