<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">Some charts and tables for top repositories in
    the project, and a summary of the evolution of their participation with
    links to more detailed information per repository.</div>
  <div class="col-md-7">
    <!-- evolution #repositories -->
    <i> <b>Active Repositories per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="scr"
         data-metrics="scr_repositories" data-legend="false"
         style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->


<!-- list of repositories -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="scr"
       data-order-by="scr_submitted" data-filter="repos" style="align: center"></div>
</div>
<!-- end list of repositories -->


<!-- submitted, merged repository -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- submitted -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i> <b>Submitted per repository (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scr"
           data-metric="scr_submitted" data-filter="repos"
           data-legend-div="repos_legend" data-limit="10"
           data-order-by="scr_submitted"></div>
    </div>
    <!-- end submitted -->

    <div class="col-md-2" id="repos_legend"></div>

    <!-- merged -->
    <div class="col-md-4">
      <i> <b>Senders per repository (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scr"
           data-metric="scr_merged" data-filter="repos" data-legend="false"
           data-limit="10" data-order-by="scr_submitted"></div>
    </div>
    <!-- end merged -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end submitted, merged repository -->

<div id="summary-static" class="row"></div>

<!-- submitted per repository -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="scr"
       data-metrics="scr_submitted,pending,review_time_days_avg"
       data-filter="repos"></div>
</div>
<!-- end submitted per repository -->

