/* Dimensions */
/* .milestone0-commits, .milestone0-issues-closed {
  width: 600px;
} */
.envision-component {
    width: 420px;
}

.milestone0-scm-commits .envision-component
{
  height : 200px;
}
.milestone0-scm-files .envision-component,
.milestone0-scm-branches .envision-component,
.milestone0-scm-repositories .envision-component
{
  height : 50px;
}

.milestone0-scm-committers .envision-component {
  height : 100px;
}

.milestone0-scm-connection .envision-component {
  height: 20px;
}
.milestone0-scm-summary .envision-component {
  cursor: all-scroll;
  height : 50px;
  margin-top: -2px;
}

/* Bubble Borders */
.milestone0-scm-commits,
.milestone0-scm-committers {
  border: 1px solid #FFA500;
  background: #fff;
}
.milestone0-scm-commits
{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.milestone0-scm-committers {
  border-top: 0px;
}

/* Connection overlay */
.milestone0-scm-connection canvas {
  z-index: 10;
  background: #fff;
}
.milestone0-scm-connection canvas object {
  position: absolute;
  top: 0px;
}

/* Y-Axis Labels */
.milestone0-scm-commits .flotr-grid-label {
  margin-left: 4px;
}
.milestone0-scm-commits .flotr-grid-label.first {
  margin-top: -6px;
}
.milestone0-scm-commits .flotr-grid-label.last {
  margin-top: 6px;
}

/* X-Axis Labels */
.milestone0-scm-summary .flotr-grid-label {
  margin-top: 3px;
}

/* Mouse Tracker */
.milestone0-scm-commits .flotr-mouse-value {
    font-size: 12px;
}
.milestone0-scm-committers .flotr-mouse-value,
.milestone0-scm-files .flotr-mouse-value,
.milestone0-scm-branches .flotr-mouse-value,
.milestone0-scm-repositories .flotr-mouse-value 
 {
  display: none;
}

@media screen and (max-width: 600px) {
  .milestone0-scm-commits {
    width: 100%;
  }  
 
  .milestone0-scm-commits .envision-component 
   {
    height: 120px;
  }
  .milestone0-scm-summary .envision-component,
  .milestone0-scm-committers .envision-component {
    height: 40px;
  }
}