/* Dimensions */
/* .milestone1-commits, .milestone1-issues-closed {
  width: 600px;
} */
.envision-component {
    width: 440px;
}

.milestone1-scm-commits .envision-component
{
  height : 200px;
}
.milestone1-scm-files .envision-component,
.milestone1-scm-lines .envision-component,
.milestone1-scm-size .envision-component
{
  height : 50px;
}

.milestone1-scm-committers .envision-component,
.milestone1-scm-authors .envision-component
 {
  height : 100px;
}

.milestone1-scm-connection .envision-component {
  height: 20px;
}
.milestone1-scm-summary .envision-component {
  cursor: all-scroll;
  height : 50px;
  margin-top: -2px;
}

/* Bubble Borders */
.milestone1-scm-commits,
.milestone1-scm-committers,
.milestone1-scm-authors
{
  border: 1px solid #FFA500;
  background: #fff;
}
.milestone1-scm-commits
{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.milestone1-scm-committers,
.milestone1-scm-authors 
{
  border-top: 0px;
}

/* Connection overlay */
.milestone1-scm-connection canvas {
  z-index: 10;
  background: #fff;
}
.milestone1-scm-connection canvas object {
  position: absolute;
  top: 0px;
}

/* Y-Axis Labels */
.milestone1-scm-commits .flotr-grid-label {
  margin-left: 4px;
}
.milestone1-scm-commits .flotr-grid-label.first {
  margin-top: -6px;
}
.milestone1-scm-commits .flotr-grid-label.last {
  margin-top: 6px;
}

/* X-Axis Labels */
.milestone1-scm-summary .flotr-grid-label {
  margin-top: 3px;
}

/* Mouse Tracker */
.milestone1-scm-commits .flotr-mouse-value {
    font-size: 12px;
}
.milestone1-scm-committers .flotr-mouse-value,
.milestone1-scm-authors .flotr-mouse-value,
.milestone1-scm-files .flotr-mouse-value,
.milestone1-scm-lines .flotr-mouse-value,
.milestone1-scm-size .flotr-mouse-value 
 {
  display: none;
}

@media screen and (max-width: 600px) {
  .milestone1-scm-commits {
    width: 100%;
  }  
 
  .milestone1-scm-commits .envision-component 
   {
    height: 120px;
  }
  .milestone1-scm-summary .envision-component,
  .milestone1-scm-committers .envision-component,
  .milestone1-scm-authors .envision-component
  {
    height: 40px;
  }
}