
<div class="row"><h4>Information about all channels</h4></div>
<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">
    Some charts and tables for top channels in the project, and a summary
    of the evolution of their participation with links to more detailed
    information per channel.
  </div>
  <div class="col-md-7">
    <!-- evolution #channels -->
    <i>
      <b>Active Channels per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="irc"
         data-metrics="irc_repositories" data-legend="false" style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->           


<!-- list of channels -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="irc"
       data-order-by="irc_sent" data-filter="repos" style="align: center"></div>                  
</div>
<!-- end list of channels -->


<!-- sent, senders channel -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- sent -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i>
        <b>Messages per channel (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="irc"
           data-metric="irc_sent" data-filter="repos"
           data-legend-div="repos_legend" data-limit="10"
           data-order-by="irc_sent">
      </div>
    </div>
    <!-- end sent -->

    <div class="col-md-2" id="repos_legend"></div>

    <!-- senders -->
    <div class="col-md-4">
      <i>
        <b>Senders per channel (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="irc"
           data-metric="irc_senders" data-filter="repos"
           data-legend="false" data-limit="10"
           data-order-by="irc_sent"></div>
    </div>
    <!-- end senders -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end sent, senders channel -->

<div id="summary-static" class="row"></div>

<!-- sent per channel -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="irc"
       data-metrics="irc_sent,irc_senders" data-filter="repos"
       data-order-by="irc_sent">
  </div>
</div>
<!-- end sent per channel -->

